@media (max-width: 768px) {
  .gallery-item img {
    height: 180px;
  }
  
  .navbar {
    padding: 15px 20px;
  }

  .logo {
    font-size: 16px;
  }

  .nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu-btn {
    display: block;
    font-size: 24px;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2f855a;

    flex-direction: column;
    align-items: center;

    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);

    transition:
      max-height 0.35s ease,
      opacity 0.25s ease,
      transform 0.25s ease;

    z-index: 999;
  }

  .nav-links.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    padding: 14px 0;
    border-top: 1px solid rgba(255,255,255,0.2);
  }

  .nav-links li a {
    margin-left: 0;
    font-size: 16px;
    display: block;
    width: 100%;
  }
}
